form input::file-selector-button {
  display: none;
}

.noShow{
  width: 6em;
  color:transparent;
}
.files input {
  outline: 2px dashed grey;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 15px;
  text-align: center !important;
  margin: 0;
  width: 99% !important;
}
.files input:focus{     outline: 2px dashed grey;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid grey;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  display: block;
  margin: 0 auto;
  background-image: url('/public/download_icon.png');
  background-size: 99%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 99%;
  right: 10;
  height: 57px;
  content: " 파일 드래그 앤 드롭";
  display: block;
  margin: 0 auto;
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip:before,
.snip:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip:hover,
.snip.hover {
  background-color: #c47135;
}
.snip:hover:before,
.snip.hover:before,
.snip:hover:after,
.snip.hover:after {
  height: 100%;
  width: 100%;
}